<div class="content" ng-controller="aboutCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-sm-6 col-xs-3 banner">
                <a href="#/"><img style="min-width: 100px" src="img/logo-200x200-cup.png" class="dcrosters" /><img style="min-width: 150px" src="img/logo-roast3.png" class="dclogo" /></a>
            </div>
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation                      </span><span class="icon-bar">                      </span><span class="icon-bar">                       </span><span class="icon-bar"></span></button>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <div class="col-sm-6 col-xs-9">
                    <a href="#/register">
                        <button type="submit" class="btn btn-primary sign-up-btn btn-top">Sign Up</button>
                    </a>
                    <a href="#/login">
                        <button type="submit" class="btn login-btn btn-top">Login</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
