<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-6 col-xs-3 banner">
            <a href="#/"><img style="min-width: 100px" src="img/logo-200x200-cup.png" class="dcrosters" /><img style="min-width: 150px" src="img/logo-roast3.png" class="dclogo" /></a>
        </div>
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation                      </span><span class="icon-bar">                      </span><span class="icon-bar">                       </span><span class="icon-bar"></span></button>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <div class="col-sm-6 col-xs-9">
                <a href="#/register">
                    <button type="submit" class="btn btn-primary sign-up-btn btn-top">Sign Up</button>
                </a>
                <a href="#/login">
                    <button type="submit" class="btn login-btn btn-top">Login</button>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div id="intro" class="col-sm-12 content steps">
            <h1>A better way to grind</h1>
            <h4>Freshly roasted coffee beans delivered weekly to your door.</h4>
        </div>
    </div>
    <div class="row">
        <div id="how-it-works" class="col-sm-12 how-it-works text-center">
            <p>How It Works</p>
        </div>
    </div>
    <div class="row">
        <div id="step-one" class="col-sm-12 steps">
            <h3 class="title">1. We get the coffee</h3>
            <p>Each bean is hand selected</p>
            <p>Each bean is measured for precise size</p>
            <p>Each bean is tenderly caressed</p>
        </div>
    </div>
    <div class="row">
        <div id="step-two" class="col-sm-12 steps"><img src="img/photo.jpg" class="photo" />
            <h3>2. We pick up the coffee</h3>
            <p>We place the coffee in bags</p>
            <p>Each bag is transported in climate-controlled trucks</p>
            <p>Every six hours the bags are rotated to keep the beans uniform and delicious</p>
        </div>
    </div>
    <div class="row">
        <div id="step-three" class="col-sm-12 steps">
            <h3>3. You drink the coffee</h3>
            <p>The coffee taste delicious</p>
            <p>You want more coffee!!!</p>
        </div>
    </div>
    <div class="row">
        <div id="get-started" class="col-sm-12 text-center">
            <a href="#/register">
                <button type="button" class="btn btn-primary center-block get-started">Get Started</button>
            </a>
            <h3 class="more-info">Want to know more about us?</h3>
            <a href="#/about">
                <button type="button" class="btn btn-primary center-block">About Us</button>
            </a>
        </div>
    </div>
</div>
